<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    <h1>Get Starscream!</h1>
    <p class="lead">
        A project generator for Acklen Avenue's 'Starscream'.
    </p>
    <p>
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="projectname" id="projectname" placeholder="Your awesome project name">
        </div>
        <button
            class="btn btn-lg btn-success"
            ng-click="getStarscream()"> Download </button>
    </form>

    Never heard about Starscream?
    <a href="https://www.youtube.com/watch?v=Ctc0hlb4TAo" target="_blank"> Have a look :)</a>
    </p>
</div>
